 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Open+Sans&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;1,100&display=swap');
#contacto{
    background-image:url("../imagenes/fondo-contacto.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-family:'Montserrat', sans-serif;
}
nav a{
    color: #282828;
}
nav .active{
    border-radius: 20px;
    border: 1px solid #E20000;
}
h1{

    color: #E20000;
    font-size: 36px;
}
.a-btn-rojo{
    background-color: #D41111;
}
.btn{
    border-radius: 8px;
    background-color:#D41111;
    color: white;
    }
.btn:hover{
    background-color: #550E6A;
}  

#contacto footer, #contacto footer a {
    color: white;
    font-weight: 100;
}
#contacto .fa-linkedin-in{
    color: #E20000;
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
}
#contacto .fa-github{
    font-size: 38px;
    height: 40px;
}
#proyectos{
    background-image: url("../imagenes/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafo-largo{
    font-size: 12px;
}
#proyectos h2{
    background-color: rgb(138, 9, 9);
    color: white;
}
.index{
    background-image:url("../imagenes/fondo-contacto.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-red{
    background-color: #282828;
    color: aliceblue;
    border-radius: 2px;
}
.btn-red:hover{
    background-color: #E20000;

}
.benvenuto{
    font-size: 32px;
    border: solid 1px #FB7C7C;
    border-radius: 10px;
    font-family: sans-serif;
}
#stack{
    background-color: #F76033;
    
}
#stack h2{
   color: white;
    font-size: 44px;
}
#stack h3{
    font-size: 24px;
    color: #282828;
    font-weight: 300;
}
#stack .tecnologia{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
#stack .tecnologia i{
    font-size: 60px;
}